body header {
    background-color: #EEEEEE;
    margin: 0;
    padding: 1rem;
    padding-top: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    display: flex;
    justify-content: space-between;
}

body header h1 {
    font-family: 'Assistant', sans-serif;
}

body {
    height: 100vh;  
    margin: 0; 
}

main div div p {
    text-align: center;
}

.logo-img {
    width: 80px;
    height: 80px;
    /* float: right; */
    border-radius: 100%;
}

.image {
    width: 100%;
    object-fit: contain;
}

.placeholder-image {
    border-radius: 10px;
}

.material-symbols-outlined {
    vertical-align: middle
} 

.btn-close {
    transform: scale(.5);
}

.btn-closeA {
    transform: scale(.5);
}