header {
    background-color: #EEEEEE;
    margin: 0;
    padding: 1rem;
    padding-top: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    display: flex;
    justify-content: space-between;
    /* background-color: te; */
}

body {
    height: 100vh;  
    margin: 0; 
}

main div div p {
    text-align: center;
}

.image {
    width: 100%;
    object-fit: contain;
}

.search-container {
    display: block; /* we will switch to display none once the search button is clicked */
}

.material-symbols-outlined {
    vertical-align: middle
} 



/* we will uncomment this next line and have the search button switch display to block */
/* .results-container { 
    display: none;
} */


